<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Famous Italian Explorers</title>
  </head>
  <body>
    <h1>Famous Italian Explorers</h1>

    <form action="/travellers" method="POST">
      <label for="surname-input">Surname:</label>
      <input id="surname-input" name="surname" type="text" />

      <input id="submit" name="submit" type="submit" value="submit" />
    </form>

    <hr />

    <h2>Result</h2>

    <p>Name: <span id="name"></span></p>
    <p>Surname: <span id="surname"></span></p>
    <p>Dates: <span id="dates"></span></p>
  </body>
</html>
